<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="custom_instance" type="text" option="urlencoded" label="30100" default=""/>
	<setting id="show_inputstream_adaptive" visible="false" enable="false" type="text" option="hidden" default="True"/>
	<setting id="max_resolution" type="select" label="30103" default="0">
		<option>Unlimited</option>
		<option>1080p</option>
		<option>720p</option>
		<option>480p</option>
		<option>360p</option>
	</setting>
</settings>
